logs
anti_spam.txt
__pycache__
.vscode/launch.json

cogs/nova
cogs/nova_stats.py

cogs/aki_cog
cogs/aki.py
cogs/ranks_system

cogs/halloween_cog
cogs/halloween.py

cogs/music_cog
cogs/music.py

cogs/simp_cog
cogs/simp.py

cogs/squid_game
cogs/squid_game.py

cogs/colours_cog
cogs/colours.py

cogs/extra.py

config
