/*
This file is empty by default.
Override it in your custom template to provide additional CSS rules.
*/

:root {
    --colour-1: #bc4b7a;
    --colour-2: #C28CAE;
    --background-colour: #0E0907;
    --background-colour-2: #140d0a;
    --colour-3: #FFB97B;
    --colour-4: #FF0066;
}

@font-face {
    font-family: YanoneKaffeesatz;
    src: url("https://raw.githubusercontent.com/THEGOLDENPRO/thegoldenpro.github.io/main/fonts/YanoneKaffeesatz/font.ttf");
}

body {
    background-color: var(--background-colour);

    font-family: YanoneKaffeesatz !important;
    letter-spacing: 2px !important;

    text-shadow: 1px 1px black !important;
}


nav.pdoc {
    background-color: var(--background-colour-2);
}

nav.pdoc h2, nav.pdoc li a {
    color: var(--colour-4) !important;
}

nav.pdoc h2 {
    font-weight: 800;
}


.pdoc .attr {
    background-color: #ffb97b21 !important;
    border-radius: 10px;
}

.pdoc code {
    background-color: var(--background-colour) !important;

    color: var(--colour-2) !important;
}

.pdoc pre {
    background-color: var(--background-colour) !important
}

.pdoc pre span .n, .pdoc pre span .p {
    color: var(--colour-3);
}

.pdoc .attr span .n, .pdoc .attr span .p, h4 {
    color: var(--colour-3);
}

h1 {
    color: var(--colour-2);
    font-weight: 800;
    letter-spacing: 3px;
}

p {
    color: var(--colour-4)
}

input {
    height: 40px !important;

    background-color: var(--colour-3);
    border: none;
    border-radius: 10px;

    color: var(--colour-1);
    font-weight: 700;
    letter-spacing: 2px;

    text-shadow: 1px 1px black !important;
    box-shadow: 1px 1px black;
}

nav.pdoc .logo {
    border-radius: 20px !important;
    max-width: 200px;

    image-rendering: -webkit-optimize-contrast !important;
}

nav.pdoc .module-list-button {
    color: var(--colour-3);
    border-color: var(--colour-2)
}