/*
This file is empty by default.
Override it in your custom template to provide additional CSS rules.
*/

@font-face {
    font-family: YanoneKaffeesatz;
    src: url("https://raw.githubusercontent.com/THEGOLDENPRO/thegoldenpro.github.io/main/fonts/YanoneKaffeesatz/font.ttf");
}

body {
    font-family: YanoneKaffeesatz !important;
    letter-spacing: 2px !important;

    text-shadow: 0.5px 0.5px black !important;
}

::selection {
    background: var(--colour-1); /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: var(--colour-1); /* Gecko Browsers */
}

nav.pdoc {
    border-right: none;
}

nav.pdoc li a {
    margin-left: 20px;
}

nav.pdoc h2 {
    font-weight: 800;
    letter-spacing: 3px;
}

nav.pdoc .logo {
    border-radius: 20px !important;
    max-width: 200px;

    image-rendering: -webkit-optimize-contrast !important;
}



.pdoc .attr {
    border-radius: 5px;

    box-shadow: 0px 0px 7px black;
}

.pdoc code {
    font-weight: 900 !important;
}

.pdoc pre {
    border-width: 10px;
}



h1 {
    color: var(--colour-3) !important;
    font-weight: 900;
    letter-spacing: 4px;
}

input {
    height: 40px !important;

    border: none;
    border-radius: 10px;

    padding: 10px;

    color: var(--text);
    background-color: var(--active);

    font-weight: 700;
    letter-spacing: 2px;

    text-shadow: 1px 1px black !important;
    box-shadow: 0px 0px 30px black;
}

.docstring {
    max-height: none !important;
}



/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
}
  
/* Handle */
::-webkit-scrollbar-thumb {
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}



/* width */
nav::-webkit-scrollbar {
    width: 6px !important;
}
  
/* Track */
nav::-webkit-scrollbar-track {
}
  
/* Handle */
nav::-webkit-scrollbar-thumb {
}
  
/* Handle on hover */
nav::-webkit-scrollbar-thumb:hover {
}